.header__quote {
  max-width: 460px;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .header__quote {
    text-align: left;
    margin-bottom: 36px;
  }
}
