.services {
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 58px;
  margin-left: 175px;
  margin-right: 175px;
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .services {
    margin: 0 auto;
    max-width: 345px;
    margin-bottom: 50px;
  }
}
