.services__text {
  max-width: 529px;
  font-size: 18px;
  line-height: 140%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 42px;
  word-break: break-all;
  color: #252D37;
}

.services__text:last-child {
  margin-right: 0;
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .services__text {
    display: none;
  }
}
