.services__card {
  display: flex;
  width: 290px;
  margin-bottom: 63px;
}

.services__card:last-child {
  margin-bottom: 63px;
}

.services__card:nth-of-type(4) {
  width: 290px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .services__card {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .services__card:nth-of-type(4) {
    width: 330px;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .services__card {
    margin: 0 auto;
    margin-bottom: 54px;
  }
  .services__card:nth-of-type(4) {
    width: 290px;
  }
}
