.purpose__choice {
  height: 113px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 376px) and (max-width: 1128px) {
  .purpose__choice {
    flex-direction: column;
    width: 345px;
    height: 438px;
    margin: 0 auto;
    margin-top: 40px;
  }
}
