.header__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  padding-left: 175px;
  padding-right: 175px;
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  .header__container {
    padding-top: 0;
    max-width: 345px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}
